	 <div ng-controller="LoginPanelController" id="login-panel">

	 	<div class="navbar navbar-fixed-top">
	 		<div class="navbar-inner">
	 			<div ng-class="{hide : !loggedIn}">
	 				<div class="pull-right">
	 					<form class="form-inline pull-right" style="margin-bottom: 0;" ng-submit="tryLogout()">
	 						<span class="pull-left" style="margin-top: 4px;"><i class="icon-user"></i>{{loggedMessage}}<strong>{{username}}</strong>.</span>
	 						<button type="submit" class="btn btn-small btn-inverse">Sign out</button>
	 					</form>
	 				</div>
	 			</div>

	 			<div ng-class="{hide: loggedIn}">

	 				<div class="pull-right" id="top-form">
	 					<form class="form-inline pull-right" ng-submit="tryLogin()">
	 						<small><i class="icon-user"></i> {{loginStatus}}</small>

	 						<input type="text" ng-model="username" class="input-small" placeholder="Username">
	 						<input type="password" ng-model="password" class="input-small" placeholder="Password">
	 						<label class="checkbox">
	 							<input type="checkbox"> <small>Remember </small>
	 						</label>
	 						<button type="submit" class="btn btn-small btn-inverse" style="margin-top: 0; ">Sign in</button>
	 						<small>Don't have an account? <a href="#">register now!</a></small>
	 					</form>
	 				</div>
	 			</div>
	 		</div>
	 	</div>
	 </div>