<div ng-controller="MainController" id="main-container">

	<div login-panel></div>

	<div id="sidebar">
		<h1 id="travel-scheduler-top">Travel scheduler</h1>
		<tabset>
			<tab heading="Plan" class="tab-plan">
				<p class="lead">{{searchMessage}}</p>
				<div search-form></div>
			</tab>

			<tab heading="Explore"  class="tab-explore" select="explore()">
				
				<div explore-trips></div>
			</tab>

			<tab heading="Share"  class="tab-share" select="share()">
				
			</tab>
		</tabset>

	</div>

	<div id="content">
		<div trip-preview></div>
	</div>

</div>

