<div ng-controller="MainController" id="main-container">


		<div id="sidebar">
			<h1 id="travel-scheduler-top">Travel scheduler</h1>
			<tabset>
				<tab heading="Plan" class="tab-plan">
					<p class="lead">{{searchMessage}}</p>
					<div search-form></div>
				</tab>

				<tab heading="Explore"  class="tab-explore" select="explore()">
					Explore trips!
				</tab>

				<tab heading="Share"  class="tab-share" select="share()">
					Share.
				</tab>
			</tabset>

		</div>

		<div id="content">
			<div trip-preview></div>
		</div>

</div>

