	 <div ng-controller="SearchController">

	 <form ng-submit="getTrip()">
	 <ul class="unstyled">
  <li ng-repeat="point in middlePoints">
    <input type="text" ng-change="updateAutosugestion(point.name)" ng-model="point.name" placeholder="{{point.placeholder}}" typeahead="place for place in places | filter:$viewValue | limitTo:8" value="{{point.name}}">  <button type="button" class="btn btn-danger" ng-click="removeDirection(point.id)">&times;</button>
  </li>
</ul>
      <button type="button" class="btn btn-success" ng-click="addDirection()">+</button> <input class="btn btn-primary" type="submit" value="search!"/>

    </form>

    <div id="searchSummary">
    {{searchText}}
    </div>

    </div>