	 <div ng-controller="SearchController">


    <form ng-submit="getTrip()" id="search-form">

      <ul class="unstyled">
        <li ng-repeat="point in middlePoints">
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on"><i class="icon-map-marker"/></span>
                <input type="text" ng-change="updateAutosugestion(point.place)" ng-model="point.place" placeholder="{{point.placeholder}}" typeahead="place as place.value for place in places | limitTo:15" typeahead-loading="isLoading" value="{{point.place}}" required> 
            </div>
          </div>
        </li>
      </ul>
      <div ng:show="!!isLoading">loading...</div>
    
      <button type="button" class="btn btn-mini btn-success" ng-class="{disabled: !directionCanBeAdded()}" ng-click="addDirection()" popover="{{getAddDirectionMessage()}}" popover-trigger="mouseenter" popover-placement="bottom"><i class="icon-plus icon-white"/></button>

      <button type="button" id="button-small-remove" class="btn btn-mini btn-danger" ng-class="{disabled: !directionCanBeRemoved()}" ng-click="removeDirection()" popover="{{getRemoveDirectionMessage()}}" popover-trigger="mouseenter" popover-placement="bottom"><i class="icon-remove icon-white"/></button>

      <button class="btn btn-primary" id="schedule-trip-submit" type="submit"><i class="icon-search icon-white"/> search</button>
    </form>

    <div id="search-summary">
      {{searchText}}
    </div>

    <div id="loading-route" ng-class="{hide: !showLoading()}">
      The route is being calculated...
     <div><progress percent="100" class="progress-striped active"> The route is being calculated...</progress></div>
    </div>

  </div>