<div ng-controller="TripPreviewController" id="trip-preview">
 	<div ng-show="mapIsVisible">
 	
 		<div id="test-map" class="google-maps" style="height:400px;">
 		</div>
 		
 		<div>
  			<div class="pull-left"><h2>Distance <small>{{routeData.summary.distance.text}}</small></h2>
  				<h2>Duration <small>{{routeData.summary.duration.text}}</small></h2>
			</div>

 		<div class="pull-right" style="padding: 20px;">
 			<button class="btn btn-big btn-warning"><strong>Save the route</strong></button>
 			<button class="btn btn-big btn-primary"><strong>Share...</strong></button>
 		</div>
 		<table class="table table-hover table-bordered table-striped">
	 		<thead>
		 		<tr>
		 			<th>Step</th><th>Instructions</th>
		 		</tr>
	 		</thead>
	 		<tbody>
	 			<tr ng-repeat="step in directions">
	 				<td><span class="badge">{{step.step}}</span></td>
					<td>Drive from <strong>{{step.from}}</strong> to <strong>{{step.to}}</strong> for <i class="icon-road"></i> {{step.distance}} (<i class="icon-time"></i> <small>{{step.duration}}</small>)</td>
	 			</tr>
	 		</tbody>
 		</table>
 	</div>
</div>