<div ng-controller="TripPreviewController" id="trip-preview">
 	<div  ng-show="mapIsVisible">
 	
 		<h3>Your trip</h3>
 	
 		<div id="test-map" class="google-maps" style="height:400px;">
 		</div>
 		
 	
 		<h4>Trip overview</h4>
 		<table class="table table-hover table-bordered table-striped">
	 		<thead>
		 		<tr>
		 			<th>ID</th><th>Name</th><th>Details</th>
		 		</tr>
	 		</thead>
	 		<tbody>
	 			<tr ng-repeat="point in detailedPoints">
	 				<td>{{point.id}}</td>
					<td>{{point.value}}</td>
	 				<td>{{point.details}}</td>
	 			</tr>
	 		</tbody>
 		</table>
 	</div>
</div>